<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kas_project">

    <application
        android:name=".utils.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_key"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_key_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.PeopleEncryprionListActivity"
            android:label="Communicating people"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AddEncryptFriendToListActivity"
            android:label="Add person"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PeopleDecryptionListActivity"
            android:label="Communicating people"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AboutAppActivity"
            android:label="About application"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EncryptActivity"
            android:label="Encryption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GenerateKeyAndSendKeyActivity"
            android:label="Generation &amp; Decryption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="RSA algorithm"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>